/********* HEADER ***********/
header {
    color: white;
    background-color: lightpink;
    position: relative;
    padding: 1px;
}

header h1 {
    text-align: center;
    font-size: 61px;
    font-family: 'Monoton', cursive;
    margin-left: 50px;
    color: white;
    font-weight: bolder;
}

#navBar {
    color: white;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    display: flex;
    list-style: none;
    justify-content: space-between;
    position: relative;
    margin-inline: 11%;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

#navBar a:hover {
    color: black;
}

body {
    margin: 0px;
    background-image: url(images/imagedefond.jpg);
    background-color: rgba(233, 48, 204, 0.5);
    background-blend-mode: screen;

}

/********* ACCUEIL ***********/
h1 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 50px;
    /* margin-top: 60px; */
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1%;
    color: rgb(110, 2, 2);
    font-weight: bold;
}

.grid-item {
    padding: 3%;
    font-size: 30px;
    text-align: center;
}

.grid-container #biographie {
    grid-template-columns: auto;
}

#biographie {
    font-weight: 800;
    color: rgb(110, 2, 2);
}

img {
    max-width: 70%;
    float: left;
    margin: 2%;
    position: relative;
    left: 10%;
}

.texte p {
    color: rgba(119, 40, 9, 0.829);
    margin: 4%;
    font-size: 27px;
    font-family: 'Abril Fatface', cursive;
    background-color: white;
}

#biographie p {
    text-align: center;
    color: violet;
    font-family: 'Averia Serif Libre', cursive;
    font-size: 30px;
    margin-top: 300px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(255, 255, 255);
}

#young img {
    max-width: 50%;
    margin-left: 21%;
    border-radius: 200px;
    height: 300px;
    position: relative;
    top: 8%;
}

/********* Discographie ***********/
ul.listes-chansons {
    list-style: upper;
}

li {
    text-align: justify;
}

/********* Discographie ***********/
.film-container {
    display: flex;
}

.item img {
    width: 200px;
    height: 200px;


}

/********* CONTACT ***********/
form {
    background-color: rgb(243, 192, 203);
    font-family: 'Averia Serif Libre', cursive;
    font-size: 25px;
    border-radius: 50px;
    padding: 2%;
    margin: 15%;
}

h2 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 40px;
}

#contact {
    text-align: center;
}

#formulaire {
    display: flex;
    margin-left: -7em;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
    border: 5px solid rgb(231, 144, 159);
}

#continent {
    font-family: 'Averia Serif Libre', cursive;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(231, 144, 159);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Averia Serif Libre', cursive;
}

input[type=submit]:hover {
    background-color: white;
    border: 5px solid rgb(231, 144, 159);
    font-family: 'Averia Serif Libre', cursive;
    font-size: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 5px solid rgb(231, 144, 159);
    border-radius: 50px;
    font-size: 16px;
    resize: none;
    font-family: 'Averia Serif Libre', cursive;
}

/********* HEADER ***********/
footer {
    color: white;
    background-color: lightpink;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 12px;
}

.logo-flex {
    display: flow-root;
    justify-content: space-between;
    width: 51%;
    margin: 2%;
}

#footer_nav {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-evenly;
    position: relative;
    top: 5%;
    right: 5%;
    font-size: x-large;

}

#footer_nav a {
    margin-bottom: 22px;
}